{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <!-- Centered and Bold Header -->
  <h2 class="text-center font-weight-bold mb-4">Products</h2>

  <!-- Product Grid -->
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <!-- Display product image -->
        <img src="{{ product.get_image_url }}" class="card-img-top img-uniform" alt="{{ product.name }}">   
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            Price: ${{ product.price }}<br>
            Stock: {{ product.stock }} in stock
          </p>
          
          <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
          <a class="btn btn-outline-success" href="#">View</a>
        </div>
      </div>
    </div>
    {% empty %}
        <div class="col-12">
          <div class="alert alert-info" role="alert">
            No products available.
          </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


